.dataForecastDetails {
    width: 65%;
    margin-inline: auto;
    padding: 1rem 2rem;
    background-color: #fef3e3;
    font-size: 10px;
    color: #515151;
}

.dataForecastDetails .header {
    font-weight: bold;
}

.dataForecastDetails .header h2 {
    font-size: 1.8rem;
}

.thermic {
    display: grid;
    grid-template-areas: 
    'A B'
    'C D';
}

.temperature {
    display: flex;
    gap: .5rem;
    font-weight: bold;
}

span {
    font-weight: bold;
}

.forecastNextDays {
    margin-top: .5rem;
    padding-top: .5rem;
    border-top: 1px solid rgb(251, 157, 28);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.forecastNextDays span {
    color: rgb(251, 157, 28);
}

.next {
    text-align: center;
}